<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
        <form method="POST">
                <b>Model</b><br><input type="text" placeholder = "e.g Honda" name="model" required> <br><br>
                <b>Daily fee (VND)</b><br><input type="text" placeholder="e.g 10000000" name="fee" required> <br><br>
                <b>Image</b><br><input type="text" placeholder="e.g https://......" name="link" required> <br><br>
                <b>Year</b><br><input type="text" placeholder="e.g.2013" name="year" required> <br><br>
                <button id="button 1">Submit</button>
        </form>
</body>
</html>